@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Backup MySQL Database</h1>
    <form method="post">
        <button type="submit" class="btn btn-primary">Backup</button>
    </form>
</div>
